#accordion>div.panel {
    border-style: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.gap-right {
    margin-right: 10px;
}

.avatar {
    margin-bottom: 0px;
}

.avatar>img {
    width: 70px;
}

.divider-vertical {
    height: 9px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #333;
}

.account-details-container {
    margin-top: 2px;
    margin-bottom: 2px;
}

.account-details-container a>h5 {
    margin-bottom:4px;
}

.account-details {
    font-size: 12px;
}

.account-details p {
    margin-bottom: 2px;
}

#overlay {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.7);
    text-align: center;

}
#overlay .spinner {
    position: relative;
    top: 50%;
}