<div class="panel panel-default bs-loading-container" bs-loading-overlay bs-loading-overlay-reference-id="accounts">
    <div class="panel-heading"><h4>{{accountsVm.txt.panels.accounts}}</h4></div>
    <div class="panel-body">

        <table class="table">
            <tbody>
                <tr ng-repeat="account in accountsVm.accounts">
                    <td>
                        <div class="thumbnail pull-left gap-right avatar">
                            <img class="img user-photo" ng-src="{{account.avatarUrl}}" />
                        </div>
                        <div class="account-details-container">
                            <a role="button" href="{{'#!/accounts/' + account.id}}">
                                <h5 class="panel-title">{{account.name}}</h5>
                            </a>
                            <div class="account-details">
                                <p>
                                    <strong>{{accountsVm.txt.fields.login.label}}: </strong>{{account.login}}
                                </p>
                                <p>
                                    <strong>{{accountsVm.txt.fields.id.label}}: </strong>{{account.id}}
                                </p>
                                <p>
                                    <strong>{{accountsVm.txt.fields.email.label}}: </strong>{{account.email}}
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <div class="btn-group pull-right" role="group">
            <button type="button" class="btn btn-success" data-target="#modifyAccountPopup" ng-click="accountsVm.createAccount()">{{accountsVm.txt.buttons.add}}</button>
        </div>
    </div>
</div>